<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info" name="MyApp" packages="">

	<Properties>
		<Property name="baseDir">logs/robot</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %5p %F:%L [%t] - %m%n" />
		</Console>
		<RollingFile name="Robot" fileName="${baseDir}/robot.log"
			filePattern="${baseDir}/robot.%d{yyyy-MM-dd-HH}.log" append="true"
			immediateFlush="false" bufferedIO="true" bufferSize="262144">
			<CronTriggeringPolicy schedule="0 0 0/1 * * ?" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %5p %F:%L [%t] - %m%n" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
		<logger name="org.mybatis" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</logger>
		<!--监控系统信息-->
		<!--若是additivity设为false，则 子Logger 只会在自己的appender里输出，而不会在 父Logger 的appender里输出。-->
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="io.netty" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="io.grpc" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="org.hibernate" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="org.redisson" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="org.quartz" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="com.baomidou" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="org.apache.ibatis" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>

		<Logger name="org.apache.http" level="INFO" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="Robot" />
		</Logger>

		<root level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Robot" />
		</root>
		<AsyncLogger name="Robot" level="DEBUG">
			<AppenderRef ref="Robot" />
		</AsyncLogger>
	</Loggers>

</Configuration>