<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info" name="MyApp" packages="">

	<Properties>
		<Property name="baseDir">logs/unique</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %5p %c:%F:%L [%t] - %m%n" />
		</Console>
		<RollingFile name="Unique" fileName="${baseDir}/unique.log"
			filePattern="${baseDir}/unique.%d{yyyy-MM-dd-HH}.log" append="true"
			immediateFlush="false" bufferedIO="true" bufferSize="262144">
			<CronTriggeringPolicy schedule="0 0 0/1 * * ?" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} %5p %c:%F:%L [%t] - %m%n" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<root level="DEBUG">
			<AppenderRef ref="Console" />
		</root>
		<AsyncLogger name="Unique" level="DEBUG">
			<AppenderRef ref="Unique" />
		</AsyncLogger>
	</Loggers>

</Configuration>